@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Chat Feature Testing for Bizgraph</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
<body>
    <h1>Testing broadcasting code for bizgraph</h1>
    <h3>This is sort of a 'chat room' that I'm building, <br />leave your message after the tone.  bip.</h3>
<input id="msg" type="text" />    
<input id="broadcast" type="button" value="Submit" />   
    <h2>Testing Chat Room</h2> 
<ul id="messages">

</ul>
      @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/jquery.signalR-0.5.3.min.js")"></script>

<script type="text/javascript">
    $(function () {
        var connection = $.connection('echo');
        connection.received(function (data) {
            $('#messages').append('<li>' + data + '</li>');
        });
        connection.start();
        $("#broadcast").click(function () {
            connection.send($('#msg').val() + " sent at " + "@System.DateTime.Now.ToString()" );
        });
    });

</script> 
</body>
</html>